body {
  background-color: #1B1B1B;
  font-family: Assignment11Font;
  src: url(/Users/amber/Downloads/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: Assignment11Font;
  src: url(Work_Sans/static/WorkSans-Regular.ttf);
}

#wrapper {
  background-color: #E4E4DE;
  width: 1100px;
  grid-template-columns: 6;
  margin: auto;
}

header {
  background: linear-gradient(#727b4d, #595f39);
}

h1 {
  text-align: center;
    grid-column: span 6;
    padding-top: 20px;
    color: #1B1B1B;
    text-decoration: none;
}

h1 a {
  text-align: center;
    grid-column: span 6;
    padding-top: 20px;
    color: #1B1B1B;
    text-decoration: none;
    transition: background-color 0.5s, width 1.0s, color 1.0s;
}

h1 a:hover {
color: #E4E4DE;
}

.textshadowbox {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  color: #369;
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
}

.navbar {
  list-style-type: none;
  background: linear-gradient(#414726, #C4C5BA);
  padding: 0;
  text-align: center;
  grid-column: span 6;
  height: 42px;
  border-top: 2px solid #414726;

}

.navbar ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0;
  list-style-type: none;
  width: 275px;
}

.navbar ul li a {
  color: #1B1B1B;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-right: 3px solid #80866a;
  border-left: 3px solid #80866a;
  border-bottom: 3px solid #C4C5BA;
}

.navbar ul li a:hover {
  color: #E4E4DE;
}

h1 {
text-align: center;
  grid-column: span 6;
  padding-top: 20px;
  color: #1B1B1B;
  text-decoration: none;
}

h1 a {
text-align: center;
  grid-column: span 6;
  padding-top: 20px;
  color: #1B1B1B;
  text-decoration: none;
  transition: background-color 0.5s, width 1.0s, color 1.0s;
}

h1 a:hover {
color: #E4E4DE;
}

.textshadowbox {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  color: #369;
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
}

main {
  grid-template-columns: repeat (4, 1fr);
  margin: 25px;
}

h2 {
  text-align: center;
  grid-column: span 4;
text-decoration: none;
}

.genres {
  grid-column: span 4;
  gap: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-template-columns:repeat(5, 1fr);
  display: grid;
}

.genre {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 50px;
  background: linear-gradient(#C7B17E, #A6864A);
  color: #1B1B1B;
  text-decoration: none;
width: 115px;
height: 115px;
border: 3px solid #1B1B1B;
border-radius: 500px;
}

.genre:hover {
  background: #8f733f;
}

footer {
  text-align: center;
  margin: 0;
  background-color: #595f39;
  grid-column: span 4;
  height: 40px;
  padding: 5px;
}

footer a {
  color: #1b1b1b;
}