body {
  background-color: #1B1B1B;
  font-family: Assignment11Font;
  src: url(/Users/amber/Downloads/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: Assignment11Font;
  src: url(Work_Sans/static/WorkSans-Regular.ttf);
}

#wrapper {
  background-color: #E4E4DE;
  width: 1100px;
  grid-template-columns: 6;
  margin: auto;
}

header {
  background: linear-gradient(#727b4d, #595f39);
}

h1 {
  text-align: center;
    grid-column: span 6;
    padding-top: 20px;
    color: #1B1B1B;
    text-decoration: none;
}

h1 a {
  text-align: center;
    grid-column: span 6;
    padding-top: 20px;
    color: #1B1B1B;
    text-decoration: none;
    transition: background-color 0.5s, width 1.0s, color 1.0s;
}

h1 a:hover {
color: #E4E4DE;
}

.navbar {
  list-style-type: none;
  background: linear-gradient(#414726, #C4C5BA);
  padding: 0;
  text-align: center;
  grid-column: span 6;
  height: 42px;
  border-top: 2px solid #414726;
}

.navbar ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0;
  list-style-type: none;
  width: 275px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #80866a;
  border-left: 1px solid #80866a;
  border-bottom: 1px solid #C4C5BA;
  transition: background-color 0.5s, width 1.0s, color 1.0s;

}

.navbar ul li a:hover {
  color: #E4E4dE;
}

main {
  grid-template-columns: repeat (5, 1fr);
  margin: 25px;
}

h2 {
  text-align: center;
    grid-column: span 5;
    padding-top: 0;
    color: #1B1B1B;
    text-decoration: none;
}

h2 a {
  text-align: center;
    grid-column: span 5;
    padding-top: 0;
    color: #1B1B1B;
    text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.songlist {
  grid-column: span 5;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-template-columns:repeat(5, 1fr);
  display: grid;
}

.song {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 50px;
  height: 75px;
  width: 75px;
  background: linear-gradient(#C7B17E, #A6864A);
  color: #1b1b1b;
  text-decoration: none;
  border-radius: 5%;
}

.song:hover {
  background: #8f733f;
}

footer {
  text-align: center;
  margin: 0;
  background-color: #595f39;
  grid-column: span 5;
  height: 40px;
  padding: 5px;
}